doctype html
html
	head
		title= title
		link(rel="stylesheet", href="../css/style.css", type="text/css")
	body
		include includes/head.pug
		
		div#page-body
			Glee season 3 took way too long to pick up.