doctype html
html
	head
		title= title
		link(rel="icon", href="/images/icon.png", type="image/png")
		link(rel="stylesheet", href="../css/style.css", type="text/css")
	body
		include includes/head.pug
		
		div#page-body
			img(src="/images/icon.png", style="width: 10%; margin-bottom: 1rem;")
			h1 Who we are
			div.blurb.narrow
				p We are stöl•stöl. We make chair, so that you can make chair. We value, stability ease of construction, and efficient use of material over all else.
				p It is through our whole-hearted devotion to these ideals that we have beeen able to reshape the sitting market to its base, and create the stool of the future

			h1 The project
			div.blurb.narrow We were comissioned to design a stool to the following specifications, and write instructions for the reproduction of such a stool.
				
			table
				tr
					th Specifications
				tr
					td 30" tall
				tr
					td light-weight
				tr
					td structurally sound
				tr
					td easy on the eyes
				
			h1 Resources
			div.blurb.narrow This revolutionization of the sitting market would not have been possible without the use of the following tools and resources:
				ul(style="margin-top: 0.5rem")
					li
						a(href="https://cad.onshape.com") OnShape
					li
						a(href="https://www.homedepot.com") Home Depot