doctype html
html
	head
		title= title
		link(rel="icon", href="/images/icon.png", type="image/png")
		link(rel="stylesheet", href="../css/style.css", type="text/css")
	body
		include includes/head.pug
		
		div#page-body
			img(src="/images/icon.png", style="width: 10%; margin-bottom: 1rem;")

		h1 Brainstorming
		h2 Design 1
		p img
		p blurb
		
		h2 Design 2
		p img
		p blurb
		
		h2 Design 3
		p img
		p blurb
		
		h2 Design 4
		p img
		p blurb
		
		h2 Design 5
		p img
		p blurb
		
		h1 Final Prototype
		p cad drawing
		p stress test