@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	--fg: #333;
	--bg: #eee;
	--half: #3333;
	
	font-family: Helvetica, Roboto, sans-serif;
	text-align: center;
	
	margin: 0;
	
	background: var(--bg);
}

body.error {
	--fg: #f33;
	--half: #f333;
}


#page-head {
	border-bottom: 0.2rem solid var(--fg);
	margin-bottom: 2rem;
}

#page-head .title {
	font-size: 1.5rem;
	letter-spacing: 1rem;
	
	background: var(--fg);
	color: var(--bg);
	
	padding: 0.5rem 0 0.25rem;
	margin: 0;
	
	text-transform: uppercase;
}

#page-head .navbar {
	background: none;
	color: var(--fg);
	
	padding: 0.25rem;
}

#page-head .navbar a {
	background: none;
	color: var(--fg);
	
	text-transform: lowercase;
	text-decoration: none;
	
	padding: 0.3rem;
	
	transition: background 200ms ease;
}
#page-head .navbar a:hover {
	background: var(--half);
}


#page-body {
	display: inline-block;
	font-size: 0.8rem;
	
	width: 100vmin;
	
	background: var(--bg);
	color: var(--fg);
}

h1, h2 {
	font-weight: bold;
	text-transform: uppercase;
	
	font-size: 1rem;
	letter-spacing: 0.1rem;
	
	margin: 0;
}

h2 { font-size: 0.8rem; }

h1::after, h2::after, th::after {
	content: ".";
}


.invert {
	background: var(--fg);
	color: var(--bg);
}

.narrow {
	width: 50%;
}

.blurb {
	display: inline-block;
	
	margin-bottom: 2rem;
}
.blurb > p {
	margin:  0.4rem;
}


table {
	margin: auto;
	
	margin-bottom: 2rem;
}

th {
	font-weight: bold;
	text-transform: lowercase;
	
	font-size: 0.8rem!important;
	letter-spacing: 0.1rem;
	
	margin: 0;
}

td {
	font-size: 0.8rem!important;
}


ul {
	margin: 0;
	padding-left: 0;
}

ul > li {
	display: inline-block;
	padding: 0.2rem;
}
ul > li:not(:last-child)::after {
	content: " /";
}